<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="irA('/privado/reservas')" >
  <ion-card>
    <ion-card-header>
      <ion-card-title>RESERVAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Gestión de reservas
    </ion-card-content>
  </ion-card>
</div>


  <ion-card>
    <ion-card-header>
      <ion-card-title>COMANDAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Gestión de comandas
    </ion-card-content>
  </ion-card>

</ion-content>
