<ion-grid>

  <ion-row class="CabeceraDetalle" >
    <ion-col size="3" class="CabeceraFilaDetalle"  >{{FormatShortDate(dateSelected)}}</ion-col>
    <ion-col size="2" class="CabeceraFilaDetalle"  > <ion-button size="small" (click)="SetToday()"><span style="font-size: 10px; ">{{languageService['today'][lan]['des']}}</span></ion-button></ion-col>
    <ion-col size="4" class="CabeceraFilaDetalle" >
      <ion-select interface="popover" value="{{currentMonth}}" placeholder="Mes" (ionChange)="selectChangedMonth($event)">
        <ion-select-option *ngFor="let month of months"  value="{{month?.id}}"  >{{month.des}}</ion-select-option>
      </ion-select>
    </ion-col>

    <ion-col size="3" class="CabeceraFilaDetalle" >
      <ion-select interface="popover" value="{{currentYear}}" placeholder="Año" (ionChange)="selectChangedYear($event)">
        <ion-select-option *ngFor="let year of Years"  value="{{year}}"  >{{year}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let day of days" class="cabecera">{{day.cor}}</ion-col>
  </ion-row>
  <ion-row *ngFor="let week of lstDiasMesinWeek">
    <ion-col  *ngFor="let item of week"  class="dias" >
      <span (click)="selectDay(item)"  [ngClass]="{'diaActual': item?.fecha && item?.fecha.getTime() === today.getTime(), 'diaSeleccionado' : item?.fecha && item?.fecha.getTime() === dateSelected?.getTime()}" 
      >{{item?.dia}}</span>
      
    </ion-col>
  </ion-row>
</ion-grid>
