ion-content {
    --background: black;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}

.header{
    border: #000;
    padding: 30px 20px;
    min-height: 56px;
}