<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
 
  <div class="fondo">    
    <div style="height: 440px;"></div>
    <div  class="itemOpcion" [routerLink]="['/public/carta']">NUESTRA CARTA</div>
    
    <!-- <div>
      <img src="assets/qrVallegrande.svg" width="40%" alt="">   
    </div> -->
  </div>


</ion-content>
