.buttonAdd{
    background-color: navy;
    color: white; 
    border-radius: 10px;
}


.itemReserva{
    
    font-weight: bold;
    border-radius: 10px;
}

.comida{
    background-color: lightgray;
    color: black;
}

.cena{
    background-color: lightslategray;
    color: white;
}

.resumen{
    font-weight: bold;
    background-color: lightgreen;
    color : black;
}

.calendario{
    font-weight: bold;
    background-color: rgb(67, 70, 71);
    color : black;
}
.fechaSelected{
    font-weight: bold;
    font-size: large;
}