<ion-header>
  <ion-title>

    <ion-grid>
      <ion-row>
        <ion-col size="5">
          {{viewTitle}} 
        </ion-col>
        <ion-col size="2">
        </ion-col>
        <ion-col>
          {{selectedTime | date:'dd/MM/yyyy'}} 
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-title>


</ion-header>

<ion-content>



  <ion-grid>

    <ion-row class="calendario">
      <ion-col>
        <calendar [showEventDetail]=false [startingDayMonth]="1" [startingDayWeek]="1" [eventSource]="eventSource"
          [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
          (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
          [step]="calendar.step">
        </calendar>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="isAdmin" class="ion-justify-content-center">

      <ion-col *ngIf="!comidaCerrada"  class="comida hand" (click)="preCerrarServicio('comida')">
        <ion-icon style="background-color: yellow;"  name="{{icon.comida}}"></ion-icon> <span style="color: red;"> Cerrar comidas</span> 
      </ion-col>

      <ion-col *ngIf="comidaCerrada"  class="comida hand" (click)="abrirServicio(comidaCerrada)">
        <ion-icon style="background-color: yellow;"  name="{{icon.comida}}"></ion-icon> <span style="color: green;"> Abrir comidas</span> 
      </ion-col>

      <ion-col *ngIf="!cenaCerrada"  class="comida hand" (click)="preCerrarServicio('cena')">
        <ion-icon style="background-color: rgb(156, 151, 151);"  name="{{icon.cena}}"></ion-icon> <span style="color: red;"> Cerrar cenas</span> 
      </ion-col>

      <ion-col *ngIf="cenaCerrada"  class="comida hand" (click)="abrirServicio(cenaCerrada)">
        <ion-icon style="background-color: rgb(156, 151, 151);"  name="{{icon.cena}}"></ion-icon> <span style="color: green;"> Abrir cenas</span> 
      </ion-col>

    
    </ion-row>

    <ion-row size="6">

      <ion-col size="6">
        <ion-button *ngIf="!comidaCerrada || !cenaCerrada" (click)="addReserva()" color="danger" expand="block">      
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>   
           Servicio
          </ion-button>
          
      </ion-col>

      <ion-col  size="6">
        <ion-button  *ngIf="!comidaCerrada || !cenaCerrada" (click)="addReserva()" color="danger" expand="block">         
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>  
           Encargo 
          </ion-button>
          
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">

        

      </ion-col>
    </ion-row>

    <ion-row class="resumen">
      <ion-col>día</ion-col>
      <ion-col>mer</ion-col>
      <ion-col>deg</ion-col>
      <ion-col>coc</ion-col>
      <ion-col>carta</ion-col>
      <ion-col>niños</ion-col>
      
    </ion-row>
    <ion-row class="comida">
      <ion-col>{{servicio?.comida?.dia}}</ion-col>
      <ion-col>{{servicio?.comida?.mercado}}</ion-col>
      <ion-col>{{servicio?.comida?.degustacion}}</ion-col>
      <ion-col>{{servicio?.comida?.cochinillo}}</ion-col>
      <ion-col>{{servicio?.comida?.carta}}</ion-col>
      <ion-col>{{servicio?.comida?.ninos}}</ion-col>
    
    </ion-row>

    <ion-row class="cena">
      <ion-col>{{servicio?.cena?.dia}}</ion-col>
      <ion-col>{{servicio?.cena?.mercado}}</ion-col>
      <ion-col>{{servicio?.cena?.degustacion}}</ion-col>
      <ion-col>{{servicio?.cena?.cochinillo}}</ion-col>
      <ion-col>{{servicio?.cena?.carta}}</ion-col>
      <ion-col>{{servicio?.cena?.ninos}}</ion-col>
     
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-icon style="background-color: yellow;" name="{{icon.comida}}"></ion-icon> Comida 
      </ion-col>     
      <ion-col>
        {{servicio?.comida?.mesas}} Mesa(s)
      </ion-col>     
      <ion-col>
        {{servicio?.comida?.Adultos}} y  {{servicio?.comida?.ninos}} pax 
      </ion-col>     
      <ion-col size="1">
        <span *ngIf="comidaCerrada" style="color: red;">C</span>
        <span *ngIf="!comidaCerrada" style="color: green;">A</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-icon style="background-color: rgb(156, 151, 151);"  name="{{icon.cena}}"></ion-icon> Cena
      </ion-col>     
      <ion-col>
        {{servicio?.cena?.mesas}} Mesa(s)
      </ion-col>     
      <ion-col>
        {{servicio?.cena?.Adultos}} y {{servicio?.cena?.ninos}} pax  
      </ion-col>
      <ion-col size="1">
        <span *ngIf="cenaCerrada" style="color: red;">C</span>
        <span *ngIf="!cenaCerrada" style="color: green;">A</span>
      </ion-col>  
    </ion-row>

    <ion-row>
      <ion-col size="12">    
        
        <ion-slides>
          <ion-slide>
            <ion-row class="comida">
              <ion-col>
                <cerrado-component [cerrado]="comidaCerrada"></cerrado-component>
              </ion-col>
              <ion-col size="12"><span  class="tituloServicio"><ion-icon style="background-color: yellow;" name="{{icon.comida}}"></ion-icon> Comida</span>: {{servicio?.comida?.mesas}} Mesa(s). {{servicio?.comida?.Adultos}} y
                {{servicio?.comida?.ninos}} pax </ion-col>
              <ion-col size="12">
                <ion-grid>
                  <ng-container *ngFor="let reserva of lstReservas | myfilter:filtercomida; let i = index">
                    <ion-row >
                      <ion-col><ion-icon style="background-color: yellow;" name="{{icon.mesa}}"></ion-icon> mesa {{i+1}} ==> {{reserva?.Adultos}} y {{reserva?.ninos}} pax</ion-col>            
                    </ion-row>
                    <ion-row>
                      <ion-col (click)="updateReserva(reserva)"> 
                       <reserva-component [reserva]="reserva"></reserva-component>
                      </ion-col>
            
                    </ion-row>
                  </ng-container>
                 
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col></ion-col>
            </ion-row>
          </ion-slide>
          <ion-slide>
            <ion-row class="cena">
              <ion-col >        
                <cerrado-component [cerrado]="cenaCerrada"></cerrado-component>
              </ion-col>
            <ion-col size="12"><span class="tituloServicio"><ion-icon style="background-color: rgb(156, 151, 151);"  name="{{icon.cena}}"></ion-icon> Cena</span>: {{servicio?.cena?.mesas}} Mesa(s). {{servicio?.cena?.Adultos}} y
              {{servicio?.cena?.ninos}} pax </ion-col>
            <ion-col size="12">
              <ion-grid>
                <ng-container *ngFor="let reserva of lstReservas | myfilter:filtercena; let i = index">
                  <ion-row>
                    <ion-col><ion-icon style="background-color: rgb(156, 151, 151);"  name="{{icon.mesa}}"></ion-icon> mesa {{i+1}} ==> {{reserva?.Adultos}} y {{reserva?.ninos}} pax</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col (click)="updateReserva(reserva)">
                      <reserva-component [reserva]="reserva"></reserva-component>
                    </ion-col>
          
                  </ion-row>
      
                </ng-container>
                
              </ion-grid>
            </ion-col>
          </ion-row>
          </ion-slide>
         
        </ion-slides>
        
      </ion-col>
    </ion-row>






   

    <ion-row>
      <ion-col size="12"></ion-col>
    </ion-row>

  
  
  </ion-grid>


  <ion-modal [isOpen]="visibleCierreServicio">
    <ng-template>
        <ion-header translucent>
          <ion-toolbar>
            <ion-title>Cierre de servicio</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="visibleCierreServicio=false">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content   padding class="vertical-center">
          <div style="padding: 20px;">
            <h3>Se va a cerrar el servicio de {{servicioCierre}}</h3>
            <ion-item>
              <ion-label position="floating" color="primary">Motivo</ion-label>
              <ion-input type="text" [(ngModel)]="motivoCierre"></ion-input>
            </ion-item>
            <ion-button  (click)="cerrarServicio()" color="danger" expand="block">         
              Cerrar servicio {{servicioCierre}} {{selectedTime | date:'dd/MM/yyyy'}}
             </ion-button>
          </div>
        </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>