.tituloServicio{
    font-size:25px;
    font-weight: bold;
}
.buttonAdd{
    background-color: navy;
    color: white; 
    border-radius: 10px;
}




.comida{
    background-color: rgb(192, 229, 247);
    color: black;
    font-weight: bold;
}

.cena{
    background-color: rgb(157, 202, 248);
    color: black;
    font-weight: bold;
}

.resumen{
    font-weight: bold;
    background-color: rgb(188, 192, 188);
    color : black;
}

.calendario{
    font-weight: bold;
    background-color: rgb(229, 237, 241);
    color : black;
}
.fechaSelected{
    font-weight: bold;
    font-size: large;
}