<ion-header>
  <ion-title>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-start">         
            {{viewTitle}}         
        </ion-col>
        <ion-col class="ion-align-self-end hand buttonAdd"  (click)="addReserva()">              
          <ion-icon name="calendar-outline"></ion-icon> {{titleAdd}}          
      </ion-col>
      </ion-row>
    </ion-grid>

    </ion-title>


</ion-header>

<ion-content>
    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              [step]="calendar.step">
    </calendar>
</ion-content>