.carta{
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  padding: 10px;
}
.divOptionCarta{
  font-size: 14px;
  background-color: #F2F2F2;
  padding: 10px;  
  border-bottom: 1px solid  black;
}

.divOptionCartaSelected{
  font-size: 18px;
  background-color: #F2F2F2;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid  black;
}


.itemCarta{
  background-color:#FBFBEF ;
  color: black;
  margin-bottom: 2px;
  border-bottom: 1px solid white;
  width: 99%;
   font-size: 16px;
   font-weight: normal;
}

.itemCarta .title {
 
  font-weight: bold;
}




.itemCarta .precio {
 
 
  font-weight: bold;
  font-size: 13px;
}

.descripcion{
  font-size: 12px;
  font-style: italic;
}








