<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div  class="carta">CARTA</div>

  <div *ngIf="isloading" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>


  <div   *ngFor="let itemOpcion of lstItemOpcionesCarta; let i = index"  (click)="selectOptionCarta(i)" 
   [ngClass]="{'divOptionCarta' :selectedOptionCarta != i, 'divOptionCartaSelected' :selectedOptionCarta == i}">
    <ion-grid  *ngIf="!isloading">
      <ion-row>
        <ion-col size="11">{{itemOpcion.title}}</ion-col>
        <ion-col size="1">
          <ion-icon *ngIf="selectedOptionCarta != i" name="chevron-down-outline"></ion-icon>
          <ion-icon *ngIf="selectedOptionCarta == i" name="chevron-up-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>    

    <div *ngIf="lstItemCarta && lstItemCarta[itemOpcion.key] && selectedOptionCarta == i">

    <div class="itemCarta"  *ngFor="let item of lstItemCarta[itemOpcion.key]; let i = index" >
   
        <ion-grid>
          <ion-row *ngIf="!(item?.motivoprecio || item?.motivoprecio1)">
            <ion-col  size="10">
              {{item.titulo}}
            </ion-col>
            <ion-col size="2" class="precio" style="text-align: right;">
              {{item.precio | number : '1.2-2'}} €
            </ion-col>
          </ion-row>      
  
  
          <ion-row *ngIf="item?.motivoprecio || item?.motivoprecio1">
            <ion-col  size="10">
              {{item.titulo}}              
            </ion-col>
            <ion-col size="2">          
            </ion-col>
          </ion-row>      
  
  
          <ion-row *ngIf="item?.motivoprecio">
            <ion-col  size="2">            
            </ion-col>
            <ion-col class="motivoPrecio" size="8">
              {{item.motivoprecio}}
            </ion-col>
            <ion-col size="2" class="precio" style="text-align: right;">
              {{item.precio | number : '1.2-2'}} €
            </ion-col>
          </ion-row>      
  
          <ion-row *ngIf="item?.motivoprecio1">
            <ion-col  size="2">            
            </ion-col>
            <ion-col class="motivoPrecio" size="8">
              {{item.motivoprecio1}}
            </ion-col>
            <ion-col size="2" class="precio" style="text-align: right;">
              {{item.precio1 | number : '1.2-2' }} €
            </ion-col>
          </ion-row>      
  
          <ion-row *ngIf="item.descripcion">
            <ion-col size="12" class="descripcion">
              {{item.descripcion}}
            </ion-col>
          </ion-row>
        </ion-grid>
  
    </div>

   
    </div>
  </div>





   
</ion-content>
