<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

  
  <div class="fondo">
    <ion-router-link color="secondary" [routerLink]="['/public']">volver</ion-router-link>
    
    <div class="titulo">
      <p >CARTA</p>
    </div>
    
    <ion-slides [options]="slideOptions" #slideWithNav
    (ionSlideDidChange)="SlideDidChange()">
    <ion-slide></ion-slide>
    <ion-slide [ngClass]="{'Selected': i === indexSelected , 'itemSlide': i != indexSelected}"  *ngFor="let itemOpcion of lstItemOpcionesCarta; let i = index">
      <span >{{itemOpcion.title}}</span>
      
    </ion-slide>
    <ion-slide></ion-slide>
  </ion-slides>
<br>

  <div *ngIf="isloading" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>

  <div class="itemCarta"  *ngFor="let item of lstItemCarta; let i = index" >
   
    <!-- {{item.titulo.padEnd(60-item.titulo.length, '.')}}  -->
      <ion-grid>
        <ion-row *ngIf="!(item?.motivoprecio || item?.motivoprecio1)">
          <ion-col  size="10">
            <!-- {{item.titulo.padEnd(55-item.titulo.length, '.')}}        -->
            {{item.titulo}}
          </ion-col>
          <ion-col size="2" class="precio" style="text-align: right;">
            {{item.precio}} €
          </ion-col>
        </ion-row>      


        <ion-row *ngIf="item?.motivoprecio || item?.motivoprecio1">
          <ion-col  size="10">
            {{item.titulo}}              
          </ion-col>
          <ion-col size="2">          
          </ion-col>
        </ion-row>      


        <ion-row *ngIf="item?.motivoprecio">
          <ion-col  size="2">            
          </ion-col>
          <ion-col class="motivoPrecio" size="8">
            <!-- {{item.motivoprecio.padEnd(55-item.motivoprecio.length, '.')}}                -->
            {{item.motivoprecio}}
          </ion-col>
          <ion-col size="2" class="precio" style="text-align: right;">
            {{item.precio}} €
          </ion-col>
        </ion-row>      

        <ion-row *ngIf="item?.motivoprecio1">
          <ion-col  size="2">            
          </ion-col>
          <ion-col class="motivoPrecio" size="8">
            <!-- {{item.motivoprecio1.padEnd(55-item.motivoprecio1.length, '.')}}                -->
            {{item.motivoprecio1}}
          </ion-col>
          <ion-col size="2" class="precio" style="text-align: right;">
            {{item.precio1}} €
          </ion-col>
        </ion-row>      

        <ion-row *ngIf="item.descripcion">
          <ion-col size="12" class="descripcion">
            {{item.descripcion}}
          </ion-col>
        </ion-row>
      </ion-grid>

  </div>
</div>
</ion-content>
