.fondo {
  color: white; 
  background-color: navy;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 5px;  
 }

 .cartaTitulo{
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
   min-height: 40px;
   border-radius: 30px;
   color: black;
   background-color: white;
}

 .ion-slides{
  width: 85%;

 }



 .titulo{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
 }



.itemOpcion{
  
  // border: 5px;
  // background-color: navy;
  margin: 7px;
  padding: 5px;
  // border: 1px solid;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
}

.itemSlide{
  height: 50px;
  background-color: rgb(201, 212, 212);
  color:#424242;
  font-size: 13px;
  font-style: italic;
}

.Selected{
  height: 50px;
  background-color:#B43104 ;
  color:azure;
  font-weight: bold;    
  font-size: 17px;
}

.itemCarta{
  color: white;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  width: 99%;
   font-size: 16px;
}

.itemCarta .title {
 
  font-weight: bold;
}




.itemCarta .precio {
 
 
  font-weight: bold;
}

.descripcion{
  font-size: 12px;
  font-style: italic;
}








