<ion-grid class="itemReserva" >
  <ion-row >
    <ion-col size="7">{{reserva?.nombre}}</ion-col>
    <ion-col size="4"><a href="tel:{{reserva?.telefono}}">{{reserva?.telefono}}</a></ion-col>
    <ion-col *ngIf="reserva?.observaciones"><ion-icon name="{{icon.information}}"></ion-icon></ion-col>
  </ion-row>    
  <ion-row>
    <ion-col *ngIf="reserva?.dia && reserva?.dia > 0">dia<br>{{reserva?.dia}}</ion-col>
    <ion-col *ngIf="reserva?.mercado && reserva?.mercado > 0">mer<br> {{reserva?.mercado}}</ion-col>
    <ion-col *ngIf="reserva?.degustacion && reserva?.degustacion > 0">deg<br> {{reserva?.degustacion}}</ion-col>
    <ion-col *ngIf="reserva?.cochinillo && reserva?.cochinillo > 0">coc<br> {{reserva?.cochinillo}}</ion-col>
    <ion-col *ngIf="reserva?.carta && reserva?.carta > 0">carta<br> {{reserva?.carta}}</ion-col>
    <ion-col *ngIf="reserva?.ninos && reserva?.ninos > 0">niños<br> {{reserva?.ninos}}</ion-col>
    <ion-col *ngIf="reserva?.boda && reserva?.boda > 0">bod<br> {{reserva?.boda}}</ion-col>
    <ion-col *ngIf="reserva?.comunion && reserva?.comunion > 0">com<br> {{reserva?.comunion}}</ion-col>
    <ion-col *ngIf="reserva?.bautizo && reserva?.bautizo > 0">bau<br> {{reserva?.bautizo}}</ion-col>
  </ion-row>

</ion-grid>