<ion-header>
  <ion-title>
    <ion-grid>
      <ion-row style="width: 100%;" (click)="volver()">
        <ion-col class="ion-align-self-start">
          Reservas {{selectedTime | date: 'dd/MM/yyyy'}}
        </ion-col>
        <ion-col class="ion-align-items-end">

          <ion-icon (click)="volver()" name="arrow-back-outline"></ion-icon>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-title>
</ion-header>


<ion-content>
 
    
        <form class="form" [formGroup]="formGroup" (ngSubmit)="tryLogin(formGroup.value)">


          <ion-grid>

            <ion-row>
              <ion-col>
                  <ion-item>
                    <ion-label  color="primary">Servicio</ion-label>
                </ion-item>      
               
              </ion-col>
             
              <ion-col>

                <ion-item>
                  <ion-checkbox  color="primary" [(ngModel)] = "checkComida" [ngModelOptions]="{standalone: true}" (ionChange)="checkServicio('comida')"></ion-checkbox>
                  <ion-label>&nbsp;Comida</ion-label>
                </ion-item>           
              </ion-col>     
              <ion-col>
                <ion-item>
                  <ion-checkbox  color="primary" [(ngModel)] = "checkCena" [ngModelOptions]="{standalone: true}" (ionChange)="checkServicio('cena')"></ion-checkbox>
                  <ion-label>&nbsp;Cena</ion-label>
                </ion-item>           

              </ion-col>     

              <!-- <ion-item>
                <ion-label position="floating" color="primary">Servicio</ion-label>
                <ion-select placeholder="Servicio"  formControlName="tipo"  interface="popover">
                  <ion-select-option value="comida">Comida</ion-select-option>
                  <ion-select-option value="cena">Cena</ion-select-option>
                </ion-select>
              </ion-item> -->
            </ion-row>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.servicio">
                <div class="error-message" *ngIf="formGroup.get('servicio').hasError(validation.type)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-row>
               <ion-col>
              <ion-item>
                <ion-label position="floating" color="primary">Nombre</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.nombre">
                  <div class="error-message" *ngIf="formGroup.get('nombre').hasError(validation.type)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col>
              <ion-item>
                <ion-label position="floating" color="primary">Teléfono</ion-label>
                <ion-input type="text" formControlName="telefono"></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">día</ion-label>
                <ion-input type="number" formControlName="dia" ></ion-input>
              </ion-item></ion-col>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">mer</ion-label>
                <ion-input type="number" formControlName="mercado" ></ion-input>
              </ion-item></ion-col>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">deg</ion-label>
                <ion-input type="number" formControlName="degustacion" ></ion-input>
              </ion-item></ion-col>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">coc</ion-label>
                <ion-input type="number" formControlName="cochinillo" ></ion-input>
              </ion-item></ion-col>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">Niños</ion-label>
                <ion-input type="number" formControlName="ninos" ></ion-input>
              </ion-item></ion-col>
            
            </ion-row>


            <ion-row>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">Boda</ion-label>
                <ion-input type="number" formControlName="boda"></ion-input>
              </ion-item></ion-col>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">Bautizo</ion-label>
                <ion-input type="number" formControlName="bautizo" ></ion-input>
              </ion-item></ion-col>
              <ion-col> <ion-item>
                <ion-label position="floating" color="primary">Comunion</ion-label>
                <ion-input type="number" formControlName="comunion" ></ion-input>
                <!-- (click)="$event.target?.select()" -->
              </ion-item></ion-col>
            
            </ion-row>


            <ion-row>
              <ion-col> 
                <ion-item>
                  <ion-label>Observaciones</ion-label>
                  <ion-textarea position="stacked" rows="6" cols="20"  formControlName="observaciones"></ion-textarea>
                </ion-item>
              </ion-col>
            
            
            </ion-row>



            <ion-row>
              <ion-col>
                <ion-button  expand="block"  color="success" type="submit" [disabled]="!formGroup.valid">
                  <ion-label > <ion-spinner *ngIf="loading"></ion-spinner> Guardar</ion-label>                
                </ion-button>
                <label class="error-message">{{errorMessage}}</label>
              </ion-col>
             
            </ion-row>

          </ion-grid>

        
         
         
          <br>
        </form>
  


</ion-content>
