<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resumen servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid >
    <ng-container *ngFor="let itemR of lstResumen ">
      <ion-row >
        <ion-col size="12">

          <ion-grid >
            <ion-row>
              <ion-col size="12">
                <h3>{{itemR.fecha}}</h3>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="itemR.CierreComidaDia">
              <ion-col size="12">
                <cerrado-component [cerrado]="itemR.CierreComidaDia"></cerrado-component>
              </ion-col>
            </ion-row>


            <ng-container *ngFor="let reserva of itemR.lstComidas">
              <ion-row>
                <ion-col> 
                 <reserva-component [verServicio]="true" [reserva]="reserva"></reserva-component>
                </ion-col>
              </ion-row>
            </ng-container>


            <ion-row *ngIf="itemR.CierreCenaDia">
              <ion-col size="12">
                <cerrado-component [cerrado]="itemR.CierreCenaDia"></cerrado-component>
              </ion-col>
            </ion-row>


            <ng-container *ngFor="let reserva of itemR.lstCenas">
              <ion-row>
                <ion-col> 
                 <reserva-component [verServicio]="true" [reserva]="reserva"></reserva-component>
                </ion-col>
              </ion-row>
            </ng-container>
          
          </ion-grid>
        </ion-col>
      </ion-row>
    </ng-container>
  
  </ion-grid>
</ion-content>

